body{
   display: flex;
   align-items: center;
   justify-content: center;
   
}


.alinhamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}

